{% extends "layout.html" %}

{% block title %}
    article
{% endblock %}
{% block main %}
<link href="/static/article.css" rel="stylesheet">
<div class="body">

    <h1>    Articles!</h1>

    <div class="portfolio">

        <div class="portfolio-item medium">
            <img src="https://dummyimage.com/350x250/a175ff/ffffff.png" alt="">
            <div class="overlay">
                <div class="description">
                    <h3>Title</h3>
                    <p>A little shiny description</p>
                    <a href="/articledetails">Check it !</a>
                </div>
            </div>
        </div>

        <div class="portfolio-item large">
            <img src="https://dummyimage.com/350x350/65cee7/ffffff.png" alt="">
            <div class="overlay">
                <div class="description">
                    <h3>Title</h3>
                    <p>A little shiny description</p>
                    <a href="#">Check it !</a>
                </div>
            </div>
        </div>

        <div class="portfolio-item large">
            <img src="https://dummyimage.com/350x350/fdda17/ffffff.png" alt="">
            <div class="overlay">
                <div class="description">
                    <h3>Title</h3>
                    <p>A little shiny description</p>
                    <a href="#">Check it !</a>
                </div>
            </div>
        </div>

        <div class="portfolio-item medium">
            <img src="https://dummyimage.com/350x250/a175ff/ffffff.png" alt="">
            <div class="overlay">
                <div class="description">
                    <h3>Title</h3>
                    <p>A little shiny description</p>
                    <a href="#">Check it !</a>
                </div>
            </div>
        </div>

        <div class="portfolio-item wide">
            <img src="https://dummyimage.com/720x250/87c966/ffffff.png" alt="">
            <div class="overlay">
                <div class="description">
                    <h3>Title</h3>
                    <p>A little shiny description</p>
                    <a href="#">Check it !</a>
                </div>
            </div>
        </div>

    </div>
    </div>

{% endblock %}
