{% extends "layout.html" %}

{% block title %}
picturedetails
{% endblock %}

{% block main %}

<!-- Link to external CSS file -->
<link href="/static/picdetails.css" rel="stylesheet">

<!-- Stack area and center div -->
<div class="stack-area">
<div class="center" id="div">
<div class="container mt-5">


  <!-- Product name -->
  <h1>detail.name </h1>
    <!-- Icon for navigating back with an attached event handler -->
    <i class="fa-solid fa-reply" style="color: #000000; cursor: pointer; display: flex; justify-content: space-between; align-items: center;" onclick="goBack()"></i>

    <!-- JavaScript function to navigate back -->
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
  <!-- Row for product details -->
  <div class="row mt-4">
    <!-- Column for product image -->
    <div class="col-md-6">
      <img src="detail.cover " alt="detail.title ">
    </div>
    <!-- Column for product details -->
    <div class="col-md-6">
      <h2>Details:</h2>
      <h5>detail.description </h5>



        </div> </div>

      </form>

    </div>
  </div>

  <hr>


</div>
</div>
</div>
{% endblock %}
