{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}
{% block main %}

<link rel="stylesheet" type="text/css" href="/static/hero.css">

<h1>Welcome <strong>Ladies</strong></h1>
<div class="container-fluid pt-5">
    <div class="row mb-4 mb-lg-5 justify-content-lg-between">
        <div class="col-3 col-md-1 col-lg-2 d-none d-md-flex align-items-center">
            <div class="lc-block bg-dark ratio ratio-1x1 opacity-25" style=""> </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-4 col-md-3 col-lg-2 d-flex flex-column justify-content-between">
            <div class="lc-block bg-primary ratio ratio-1x1 opacity-25" style=""><img class="img-fluid" src="/static/images/pexels-saulo-nulo-4434323.jpg" alt="Photo by Meriç Dağlı"> </div><!-- /lc-block -->
            <div class="lc-block">
                <img class="img-fluid" src="/static/images/pexels-khats-cassim-7427851.jpg" alt="Photo by Meriç Dağlı">
            </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-4 col-md-4 col-lg-3"> <img class="img-fluid" src="/static/images/pexels-m-⭐-godshepherdly-789555.jpg" alt="Photo by Simone Hutsch"></div><!-- /col -->
        <div class="col-4 col-md-3 col-lg-2 d-flex flex-column justify-content-between">
            <div class="lc-block">
                <img class="img-fluid" src="/static/images/pexels-craig-adderley-1652303 (1).jpg" alt="Photo by Simone Hutsch">
            </div><!-- /lc-block -->
            <div class="lc-block bg-primary ratio ratio-1x1 opacity-25" style=""> </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-3 col-md-1 col-lg-2 d-none d-md-flex  align-items-center">
            <div class="lc-block bg-dark ratio ratio-1x1 opacity-25" style=""> </div><!-- /lc-block -->
        </div><!-- /col -->
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="lc-block text-center col-md-8">
            <div editable="rich">
                <h2 class="rfs-25 fw-bold">Your quide and friend through the toughest moments of the time.</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="lc-block text-center col-xxl-6 col-md-8">
            <div editable="rich">
                <p class="lead"> Our purpose is to support
                    women recognize their purpose.</p>
            </div>
        </div><!-- /lc-block -->
    </div>
</div>



{% endblock %}
